[submodule "src/FMS"]
	path = src/FMS
	url = http://github.com/NOAA-GFDL/FMS.git
[submodule "src/GFDL_atmos_cubed_sphere"]
	path = src/GFDL_atmos_cubed_sphere
	url = http://github.com/NOAA-GFDL/GFDL_atmos_cubed_sphere.git
[submodule "src/atmos_drivers"]
	path = src/atmos_drivers
	url = http://github.com/NOAA-GFDL/atmos_drivers.git
[submodule "src/atmos_phys"]
	path = src/atmos_phys
	url = http://github.com/NOAA-GFDL/atmos_phys.git
[submodule "src/coupler"]
	path = src/coupler
	url = http://github.com/NOAA-GFDL/coupler.git
[submodule "src/ice_param"]
	path = src/ice_param
	url = http://github.com/NOAA-GFDL/ice_param.git
[submodule "src/mom6"]
	path = src/mom6
	url = https://github.com/NOAA-GFDL/MOM6-examples.git
[submodule "src/ocean_shared"]
	path = src/ocean_shared
	url = https://github.com/NOAA-GFDL/ocean_BGC
[submodule "src/lm4p"]
	path = src/lm4p
	url = https://github.com/NOAA-GFDL/lm4.git
